# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/SUCHAI.X/dist/Sim/

# Clion project files
.idea

# Cmake folders
build/
build_linux/
cmake-build-debug/
build_rpi/

# Play Ground
playground

# Libcsp
src/drivers/Linux/libcsp/libcsp

# docs
docs/html/

# Custom
src/system/include/config.h

# Python Cache
*__pycache__
*.pyc
